services:
  bookingservice:
    platform: linux/arm64
    image: heindetotverre/bookingservice:latest
    restart: unless-stopped
    environment:
      - PUPPETEER_SKIP_CHROMIUM_DOWNLOAD=true
      - PUPPETEER_EXECUTABLE_PATH=/usr/bin/chromium
      - VUE_APP_SERVERPORT=3000
      - PROD_LIKE=true
      - DISABLE_LOGGING=true
    ports:
      - 8080:3000
    command: npm run start